.header {
    color: rgba(116, 176, 177, 1);
    background-color: rgba(109,102,85,1);
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 0;
}

* {
  margin: 0;
  padding: 0;

}

.navMain {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    margin: 0;
    background-color: rgba(157, 102, 184, 1);
    color: rgba(255,241,202,1);
    list-style: none;
    padding-top: 4rem;
}

.navMain li {
    list-style-type: none;
}

.navMain li a{
    color: rgba(255,241,202,1);
    font-size: 1em;
    text-decoration: none;
}

.navMain :hover {
    color: rgba(28,28,30,1);
    transition: 0.3s;
}

#icon {
    width: 1em;
}

.showMenu {
    transform: translateY(0);
}

.closeMenu {
    display: none;
}

.menuBtn {
    position: fixed;
    z-index: 100;
    top: 1rem;
    left: 1rem;
    padding: 4px;
    background-color: rgba(123, 48, 161, 1);
    width: 5em;
    cursor: pointer;
    border: none;
}

#menuIcon {
    width: 4em;
}

#bttBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgba(40, 78, 39, 1);
    color: rgba(255,241,202,1);
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

#bttBtn:hover {
    background-color: rgba(91, 153, 89, 1);
    color: rgba(28,28,30,1);
}

body {
    background: rgba(28,28,30,1);
    background-size: cover;
    background-attachment: fixed;
    font-family: "Asul", serif;
    font-style: normal;
}

p {
    margin-bottom: 1em;
}

.tagline {
    margin: 1% 5%;
    text-align: center;
    color: rgba(255,241,202,1);
}

.main {
    margin: 1em 2% 2em;
    padding: 1em 5% 1em;
    background-color: rgba(109, 102, 85, 1);
    color: rgba(255,241,202,1);
}

.container {
    display: flex;
    flex-direction: column;
}

#poster {
    width: 30em;
}

.footer {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    background-color: rgba(18, 42, 117, 1);
    color: rgba(116, 176, 177, 1);
    height: 5em;
    line-height: 0.5;
}

.footer p {
    text-align: center;
    margin-left: 5em;
    margin-top: 1.5em;
}