.header {
    color: rgba(28,28,30,1);
    background-color: rgba(181,106,51,1);
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 0;
}

.navMain {
    
    position: relative;
}

.navMain li {
    list-style-type: none;
    
}

.navMain li a{
    color: rgba(28,28,30,1);
    font-size: 1em;
    text-decoration: none;
}

.navMain :hover {
    color: rgba(94,70,53,1);
    transition: 0.3s;
}

#icon {
    width: 1em;
}

body {
    background: rgba(242,198,125,1);
    background-size: cover;
    background-attachment: fixed;
    font-family: "Asul", serif;
    font-style: normal;
}

.tagline {
    margin: 1% 5%;
}

.main {
    margin: 1em 2% 2em;
    padding: 1em 5% 1em;
    background-color: rgba(255,241,202,1);
}

.container {
    display: flex;
    flex-direction: column;
}

#extLink {
    width: 5rem;
    border-color: rgba(94,70,53,1);
}

#extLink :hover{
    width: 1em;
}

.footer {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    background-color: rgba(181,106,51);
    height: 5em;
    line-height: 0.5;
}

.footer p {
    text-align: center;
    margin-left: 5em;
    margin-top: 1.5em;
}