h2 {
    font-size: 1em;
    font-weight: 600;
}

p, h3, li {
    font-size: 1em;
    margin-left: 5em;
    margin-bottom: 0;
    font-weight: 100;
}

#snowflake {
    width: 60em;
}

.referTo {
    color: rgba(116, 176, 177, 1);
    text-decoration: none;
}

.referTo:hover {
    color: rgba(18,101,103, 1);
}

#dragonBack {
    position: fixed;
    bottom: 6em;
    left: 1em;
    padding: 1em;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgba(1,71,102,1);
    color: rgba(255,241,202,1);
    cursor: pointer;
    border-radius: 10px;
    font-size: 1em;
    width: 1em;
}

#dragonBack:hover {
    background-color: rgba(71,112,154,1);
    color: rgba(28,28,30,1);
}

#nextDragon, #prevDragon {
    position: fixed;
    bottom: 10em;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgba(60,70,34,1);
    color: rgba(255,241,202,1);
    cursor: pointer;
    padding: 0.5em;
    border-radius: 5px;
    font-size: 1em;
}

#nextDragon {
    left: 2.6em;
}

#prevDragon {
    left: 1em;
}

#nextDragon:hover {
    background-color: rgba(128,140,60,1);
    color: rgba(28,28,30,1);
}
#prevDragon:hover {
    background-color: rgba(128,140,60,1);
    color: rgba(28,28,30,1);
}

.thumb {
    display: inline;
    height: fit-content;
}

#galleryList {
    text-align: center;
    border: 4px solid rgba(255,241,202,1);
    border-radius: 8px;
    padding: 0;
    background-color: rgba(28,28,30,1);
}

#galleryList img {
    border-radius: 4px;
}

.lightbox {
    display: none;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100;
    text-align: center;
    top: 0;
    left: 0;
    background-color: rgba(28,28,30,1);
}

.lightbox img{
    max-width: 80% ;
    max-height: 90%;
    text-align: center;
    margin-top: 2%;
}

.lightbox:target {
    outline: none;
    display: block;
}

.previous {
    position: fixed;
    left: 4px;
    top: 40%;
    width: 40px;
    font-size: 40px;
    color: rgba(255,241,202,1);
}

.exit {
    position: fixed;
    top: 4px;
    right: 4px;
    width: 40px;
    font-size: 40px;
    color: rgba(255,241,202,1);
}

.next {
    position: fixed;
    right: 4px;
    top: 40%;
    width: 40px;
    font-size: 40px;
    color: rgba(255,241,202,1);
}