* {
    box-sizing: border-box;
}

#filterButtons {
    margin-bottom: 1em;
}

.filter-btn {
    border: none;
    outline: none;
    margin-bottom: 1em;
    padding: 0 0.5em;
    background-color: rgba(28, 28, 30, 1);
    color: rgba(255,241,202,1);
    cursor: pointer;
    border-radius: 0.5em;
}

.filter-btn:active {
    background-color: rgba(109, 102, 85, 1);
}

.item.hide {
    display: none;
}

.btn:hover {
    background-color: rgba(109, 102, 85, 1);
}

#classIcon {
    width: 6.5em;
}

.dragonIndex {
    list-style-type: none;
    padding-left: 0;
    columns: 30em;
}

.dragonIndex li {
    padding: none;
    display: grid;
    grid-template-columns: minmax(2em, auto) 1fr;
    gap: 0 1.05em;
    border: solid rgba(1,71,102,1);
    border-radius: 20px;
}

li + li {
    margin-top: 1rem;
}

.dragonIndex li a {
    text-decoration: none;
    color: rgba(255,241,202,1);
    font-size: 2em;
    padding: none;
    width: 15.5em;
    border-radius: 20px;
    text-align: center;
}

.dragonIndex li:hover {
    background-color: rgba(71,112,154,1);
}

.dragonPic {
    width: fit-content;
}