image {
    height: 10em;
}

#special {
    width: 65em;
}

h2 {
    font-size: 1em;
    font-weight: 600;
}

p, h3 {
    font-size: 1em;
    margin-left: 5em;
    font-weight: 100;
}

.referTo {
    color: rgba(71,112,154,1);
    text-decoration: none;
}

#dragonBack {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgba(168,54,38,1);
    color: rgba(28,28,30,1);
    cursor: pointer;
    padding: 5em;
    border-radius: 10px;
    font-size: 10em;
    width: 6em;
}