image {
    height: 10em;
}

#special {
    width: 65em;
}

h2 {
    font-size: 1em;
    font-weight: 600;
}

p, h3 {
    font-size: 1em;
    margin-left: 5em;
    font-weight: 100;
}

.referTo {
    color: rgba(71,112,154,1);
    text-decoration: none;
}

#dragonBack {
    position: fixed;
    bottom: 6em;
    left: 1em;
    padding: 1em;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgba(1,71,102,1);
    color: rgba(255,241,202,1);
    cursor: pointer;
    border-radius: 10px;
    font-size: 1em;
    width: 1em;
}

#dragonBack:hover {
    background-color: rgba(71,112,154,1);
    color: rgba(28,28,30,1);
}

#nextDragon, #prevDragon {
    position: fixed;
    bottom: 10em;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgba(60,70,34,1);
    color: rgba(255,241,202,1);
    cursor: pointer;
    padding: 0.5em;
    border-radius: 5px;
    font-size: 1em;
}

#nextDragon {
    left: 2.6em;
}

#prevDragon {
    left: 1em;
}

#nextDragon:hover {
    background-color: rgba(128,140,60,1);
    color: rgba(28,28,30,1);
}
#prevDragon:hover {
    background-color: rgba(128,140,60,1);
    color: rgba(28,28,30,1);
}