* {
    box-sizing: border-box;
}

.dragonIndex {
    list-style-type: none;
    padding-left: 0;
    columns: 20em;
    column-rule: 0.5em solid rgba(168,54,38,1);
}

.dragonIndex li {
    padding: 2em;
    display: grid;
    grid-template-columns: minmax(3em, auto) 1fr;
    gap: 0 1.05em;
    border: solid rgba(1,71,102,1);
    border-radius: 20px;
}

li + li {
    margin-top: 1rem;
}

.dragonIndex li a {
    text-decoration: none;
    color: rgba(28,28,30,1);
    font-size: 2em;
    padding: 0.5rem 0.5rem;
    width: 9em;
}

.dragonIndex li:hover {
    background-color: rgba(71,112,154,1);
}